@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  background-color: rgb(243, 18, 104);
  width: 20vw;
  height: 100vh;
  font-family: "Zilla Slab", serif;
}

.sidebar nav {
  padding: 30px;
  cursor: pointer;
}

.sidebar nav li {
  list-style: none;
  padding: 25px;
  font-size: medium;
}

.sidebar nav li a {
  color: white;
  text-decoration: none;
}

.sidebar nav li a:hover {
  color: black;
}

.main {
  background-color: rgb(249, 160, 193);
  width: 90vw;
}

.container {
  display: flex;
}

.infocontainer {
  /* background-color: black; */
  margin: 40px;
  height: 350px;
  width: 1000px;
  display: flex;
  justify-content: space-around;
}

.devinfo {
  color: black;
  font-family: "Zilla Slab", serif;
  /* font-size: 30px; */
  justify-content: center;
  padding: 50px;
}

.hello {
  font-size: 30px;
  margin: 2px;
}

.name {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.about {
  font-size: 30px;
  margin: 50px;
  margin-left: 0px;
}

.button button {
  height: 40px;
  width: 140px;
  border-radius: 26px;
  color: white;
  background-color: rgb(243, 18, 104);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.button button:hover {
  background-color: white;
  color: rgb(243, 18, 104);
}

.button {
  margin-top: 25px;
}

.button button a {
  text-decoration: none;
  color: white;
}

.button button a:hover {
  background-color: white;
  color: rgb(243, 18, 104);
}

.devpic img {
  height: 320px;
  width: 250px;
  margin-top: 25px;
  box-shadow: 0.5rem 1rem rgba(46, 44, 44, 0.1);
  border: 2px solid black;
  border-radius: 15px;
}
